atomicwrites==1.4.0
attrs==20.3.0
backports.functools-lru-cache==1.6.3
configparser==4.0.2
contextlib2==0.6.0.post1
enum34==1.1.10
flake8==3.9.0
funcsigs==1.0.2
functools32==3.2.3.post2
importlib-metadata==2.1.1
mccabe==0.6.1
more-itertools==5.0.0
packaging==20.9
pathlib2==2.3.5
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==4.6.11
scandir==1.10.0
six==1.15.0
termcolor==1.1.0
typing==3.7.4.3
wcwidth==0.2.5
zipp==1.2.0
